# Build
/build/

# User temp
**/CMakeLists.txt.user

# Python folder
**/__pycache__

# Python byte code
*.pyc

# python setuptools
*.egg-info/
dist/

# mkdocs
docs/

# tests results
tests/multitax/*/tmp_*
