language: python
python:
  - "3.9"
  - "3.10"
  - "3.11"
  - "3.12"
  - "3.13"

before_install:
  - python -m pip install coverage
  - python -m pip install setuptools importlib-metadata --upgrade  # fix bug setuptools py37

install:
  - python setup.py install

script:
  - python -m unittest discover -s tests/multitax/unit/ -v
  - python -m unittest discover -s tests/multitax/integration/ -v
  - python -m coverage run --omit="/usr/*,tests/*" -m unittest discover -s tests/multitax/unit/ -v
  - python -m coverage run --append --omit="/usr/*,tests/*" -m unittest discover -s tests/multitax/integration/ -v

after_success:
  - python -m coverage xml -o coverage_py.xml
  - curl -Os https://uploader.codecov.io/latest/linux/codecov;
  - chmod +x codecov;
  - ./codecov --nonZero -X search --file coverage_py.xml;

notifications:
  email: false
